*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.freebuff/

# Key stores & Certificates
keystore.jks
*.jks
*.keystore
*.p12
*.pepk
*.pem
*.key

# Build outputs & Binaries
*.apk
*.aab
/app/release/
/app/build/
